body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: black;
    color:white;
    overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
}

.sidebar{
    background-color:black;
    width: 430px;
    height: 860px;
    border-radius: 1rem;
    overflow: hidden;
}
.main-content{
    background-color: #121212;
    flex: 1;
    height: 860px;
    border-radius: 1rem;
    overflow: auto;
    margin-top: 10px;
}
.music-player{
    background-color: black;
    position: fixed;
    bottom:0;
    height:72px;
    width:100%;
}
.nav{
    width: 386px;
    height:96px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding:0.5rem 0.75rem;
    background-color: #121212;
    border-radius: 1rem;
    margin-left: 10px;
    margin-top: 10px;
}
.nav .nav-option i{
    font-size: 23px;
    margin-left: 10px;
}
.nav-option a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin-left:17px;
    font-weight: 700;
}
#home{
    margin-bottom:10px;
    padding-top: 10px;
}
#search{
    margin-top:10px;
    padding-bottom:10px;
    opacity: 0.5;
    transition: opacity 0.5s;
}
#search:hover{
    opacity: 1;
}

.library{
    width:386px;
    height:100%;
    padding:0.5rem 0.75rem;
    background-color: #121212;
    border-radius: 1rem;
    margin-left: 10px;
    margin-top: 10px;
}
.options{
    display:flex;
    justify-content: space-between;
}
.lib-option{
    opacity: 0.5;
    transition: opacity 0.5s;
    cursor: pointer;
}
.lib-option img{
    width: 19px;
    height: 20px;
    margin-left: 12px;
    padding-top: 10px;
}
.lib-option a{
   margin-left:10px;
}
.options .icons{
    align-self: center;
    padding-top: 10px;
}
.options .icons i{
    font-size: 1.25rem;
    margin-right:20px;
    opacity: 0.5;
    transition: opacity 0.5s;
    cursor: pointer;
}
.lib-option:hover{
    opacity: 1;
}
.options .icons i:hover{
    opacity: 1;
}
.lib-box{
    width:386px;
    height: 300px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box{
    width: 346px;
    background-color: #242424;
    padding:0.5rem 1.25rem;
    padding-top: 0.3rem;
    border-radius: 0.5rem;
}
.box-p1{
    font-weight: 700;
    font-size: 0.9rem;
}
.box-p2{
    font-size:  0.80rem;
    font-weight: 550;
}
.badge{
    
    height:36px;
    padding: 4px 16px 4px 16px;
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.badge:hover{
    transform: scale(1.05);
}
.sticky-navbar{
    height:4rem;
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0px;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 1rem;
    background-color: #242424;
}
.sticky-nav-icons{
    margin-left: 20px;
}
.sticky-navbar img{
    width: 1.25rem;
    height:1.25rem;
    border:0.38rem solid black;
    border-radius: 50%;
    background-color: black;
    opacity: 0.55;
    margin-right: 3px;
    cursor: pointer;
}
.sticky-navbar img:hover{
    opacity: 1;
}
.sticky-navbar img:hover{
    opacity: 1;
}
.sticky-nav-options{
    width: 23rem;
    margin-right:20px;
    display: flex;
    justify-content: space-evenly;
}
.sticky-navbar .badge{
    background-color: black;
    color: white;
    margin-bottom: 10px;
}
.sticky-nav-options .badge:nth-child(1){
    background-color: white;
    color: black;
}

#bell,#user{
    width:36px;
    height: 36px;
    border-radius: 50%;
    padding:0;
    opacity: 0.75;
}
#bell i,#user i{
    font-size: 1rem;
    
}
#bell:hover,#user:hover{
    opacity: 1;
}
