body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: black;
    color:white;
    overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
}

.sidebar{
    background-color:black;
    width: 430px;
    height: 860px;
    border-radius: 1rem;
    overflow: hidden;
}
.main-content{
    background-color: #121212;
    flex: 1;
    height: 860px;
    border-radius: 1rem;
    overflow: auto;
}
.music-player{
    background-color: black;
    position: fixed;
    bottom:0;
    height:72px;
    width:100%;
}
.nav{
    width: 386px;
    height:96px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding:0.5rem 0.75rem;
    background-color: #121212;
    border-radius: 1rem;
    margin-left: 10px;
    margin-top: 10px;
}
.nav .nav-option i{
    font-size: 23px;
    margin-left: 10px;
}
.nav-option a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin-left:17px;
    font-weight: 700;
}
#home{
    margin-bottom:10px;
    padding-top: 10px;
}
#search{
    margin-top:10px;
    padding-bottom:10px;
    opacity: 0.5;
    transition: opacity 0.5s;
}
#search:hover{
    opacity: 1;
}

.library{
    width:386px;
    height:100%;
    padding:0.5rem 0.75rem;
    background-color: #121212;
    border-radius: 1rem;
    margin-left: 10px;
    margin-top: 10px;
}
.options{
    display:flex;
    justify-content: space-between;
    opacity: 0.5;
}
.lib-option img{
    width: 25px;
    height: 24px;
    margin-left: 10px;
}
.options .icons{
    align-self: center;
    padding-top: 10px;
}
.options .icons i{
    font-size: 1.25rem;
    margin-right:20px;
}